<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.JdkFolderFileMapper">

    <resultMap type="com.alvis.exam.domain.JdkFolderFile" id="JdkFolderFileResult">
        <result property="version"    column="version"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="isFolder"    column="is_folder"    />
        <result property="enableFlag"    column="enable_flag"    />
        <result property="fileData"    column="file_data"    />
        <result property="userId"    column="user_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="reocrdType"    column="reocrd_type"    />
        <result property="parentId"    column="parent_id"    />
        <result property="fileDesc"    column="file_desc"    />
        <result property="id"    column="id"    />
    </resultMap>


    <sql id="Conditions">
        <where>
            <if test="version != null "> and version = #{version}</if>
                <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
                <if test="isFolder != null "> and is_folder = #{isFolder}</if>
                <if test="enableFlag != null "> and enable_flag = #{enableFlag}</if>
                <if test="fileData != null  and fileData != ''"> and file_data = #{fileData}</if>
                <if test="userId != null "> and user_id = #{userId}</if>
                <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
                <if test="reocrdType != null "> and reocrd_type = #{reocrdType}</if>
                <if test="parentId != null "> and parent_id = #{parentId}</if>
                <if test="fileDesc != null  and fileDesc != ''"> and file_desc = #{fileDesc}</if>
            </where>
    </sql>
    <sql id="FolderConditions">
        <where>
            <if test="version != null "> and version = #{version}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
            <if test="isFolder != null "> and is_folder = #{isFolder}</if>
            <if test="enableFlag != null "> and enable_flag = #{enableFlag}</if>
            <if test="fileData != null  and fileData != ''"> and file_data = #{fileData}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="reocrdType != null "> and reocrd_type = #{reocrdType}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="parentId == null "> and parent_id is null </if>
            <if test="fileDesc != null  and fileDesc != ''"> and file_desc = #{fileDesc}</if>
        </where>
    </sql>

    <sql id="selectJdkFolderFileVo">
        select version, update_time, update_by, create_time, create_by, delete_flag, is_folder,  enable_flag, file_data, user_id, file_name, reocrd_type, parent_id, file_desc, id from jdk_folder_file
    </sql>

    <select id="selectJdkFolderFileList" parameterType="com.alvis.exam.domain.JdkFolderFile" resultMap="JdkFolderFileResult">
        <include refid="selectJdkFolderFileVo"/>
        <include refid="Conditions"/>
    </select>

    <select id="selectJdkFolderFilePageList" parameterType="com.alvis.exam.domain.JdkFolderFile" resultMap="DataSetResult">
        <include refid="selectJdkFolderFileVo"/>
        <include refid="Conditions"/>
        order by gmt_create desc
        <if test="limit != null and offset != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="integer" parameterType="com.alvis.exam.domain.JdkFolderFile">
        select count(*)
        from jdk_folder_file
        <include refid="Conditions"/>
    </select>

    <select id="selectJdkFolderFileById" parameterType="Long" resultMap="JdkFolderFileResult">
        <include refid="selectJdkFolderFileVo"/>
        where id = #{id}
    </select>

    <insert id="insertJdkFolderFile" parameterType="com.alvis.exam.domain.JdkFolderFile" useGeneratedKeys="true" keyProperty="id">
        insert into jdk_folder_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="version != null ">version,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="deleteFlag != null ">delete_flag,</if>
            <if test="isFolder != null ">is_folder,</if>
            <if test="enableFlag != null ">enable_flag,</if>
            <if test="fileData != null  and fileData != ''">file_data,</if>
            <if test="userId != null ">user_id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="reocrdType != null ">reocrd_type,</if>
            <if test="parentId != null ">parent_id,</if>
            <if test="fileDesc != null  and fileDesc != ''">file_desc,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="version != null ">#{version},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="deleteFlag != null ">#{deleteFlag},</if>
            <if test="isFolder != null ">#{isFolder},</if>
            <if test="enableFlag != null ">#{enableFlag},</if>
            <if test="fileData != null  and fileData != ''">#{fileData},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="reocrdType != null ">#{reocrdType},</if>
            <if test="parentId != null ">#{parentId},</if>
            <if test="fileDesc != null  and fileDesc != ''">#{fileDesc},</if>
         </trim>
    </insert>

    <update id="updateJdkFolderFileV" parameterType="JdkFolderFileV">
        update jdk_folder_file_v
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null ">version = #{version},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="deleteFlag != null ">delete_flag = #{deleteFlag},</if>
            <if test="isFolder != null ">is_folder = #{isFolder},</if>
            <if test="enableFlag != null ">enable_flag = #{enableFlag},</if>
            <if test="fileData != null  and fileData != ''">file_data = #{fileData},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="reocrdType != null ">reocrd_type = #{reocrdType},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="fileDesc != null  and fileDesc != ''">file_desc = #{fileDesc},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJdkFolderFileVById" parameterType="Long">
        delete from jdk_folder_file_v where id = #{id}
    </delete>

    <delete id="deleteJdkFolderFileVByIds" parameterType="String">
        delete from jdk_folder_file_v where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
