<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.KonwledgeStoreMapper">
    
    <resultMap type="com.alvis.exam.domain.KonwledgeStore" id="KonwledgeStoreResult">
        <result property="id"    column="id"    />
        <result property="userid"    column="userid"    />
        <result property="infotextcontentid"    column="infoTextContentId"    />
        <result property="questionId"    column="question_id"    />
        <result property="parentKonwledgeId"    column="parent_konwledge_id"    />
        <result property="subjectId"    column="subject_id"    />
        <result property="contentId"    column="content_id"    />
        <result property="tagInfo"    column="tag_info"    />
        <result property="konwledgeType"    column="konwledge_type"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="shortText"    column="short_text"    />
        <result property="isChecked"    column="is_checked"    />
        <result property="reviewScore"    column="review_score"    />
    </resultMap>

    <sql id="selectKonwledgeStoreVo">
        select id, userid, infoTextContentId, question_id,content_id, parent_konwledge_id, subject_id, tag_info, konwledge_type, update_time, create_time, short_text, is_checked, review_score from konwledge_store
    </sql>

    <select id="selectKonwledgeStoreList" parameterType="com.alvis.exam.domain.KonwledgeStore" resultMap="KonwledgeStoreResult">
        <include refid="selectKonwledgeStoreVo"/>
        <where>  
            <if test="userid != null "> and userid = #{userid}</if>
            <if test="infotextcontentid != null "> and infoTextContentId = #{infotextcontentid}</if>
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="parentKonwledgeId != null "> and parent_konwledge_id = #{parentKonwledgeId}</if>
            <if test="queryRoot == 2 "> and parent_konwledge_id is null  </if>
            <if test="queryRoot == 1 "> and parent_konwledge_id is not null  </if>
            <if test="konwledgeType != null and konwledgeType != ''"> and konwledge_type = #{konwledgeType}</if>
        </where>
    </select>
    
    <select id="selectKonwledgeStoreById" parameterType="Long" resultMap="KonwledgeStoreResult">
        <include refid="selectKonwledgeStoreVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKonwledgeStore" parameterType="com.alvis.exam.domain.KonwledgeStore" useGeneratedKeys="true" keyProperty="id">
        insert into konwledge_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null ">userid,</if>
            <if test="infotextcontentid != null ">infoTextContentId,</if>
            <if test="questionId != null ">question_id,</if>
            <if test="contentId != null ">content_id,</if>

            <if test="parentKonwledgeId != null ">parent_konwledge_id,</if>
            <if test="subjectId != null ">subject_id,</if>
            <if test="tagInfo != null ">tag_info,</if>
            <if test="konwledgeType != null ">konwledge_type,</if>

            <if test="updateTime != null ">update_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="shortText != null ">short_text,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null ">#{userid},</if>
            <if test="infotextcontentid != null ">#{infotextcontentid},</if>
            <if test="questionId != null ">#{questionId},</if>
            <if test="contentId != null ">#{contentId},</if>

            <if test="parentKonwledgeId != null ">#{parentKonwledgeId},</if>
            <if test="subjectId != null ">#{subjectId},</if>
            <if test="tagInfo != null ">#{tagInfo},</if>
            <if test="konwledgeType != null ">#{konwledgeType},</if>

            <if test="updateTime != null ">#{updateTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="shortText != null ">#{shortText},</if>
         </trim>
    </insert>

    <update id="updateKonwledgeStore" parameterType="com.alvis.exam.domain.KonwledgeStore">
        update konwledge_store
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null ">userid = #{userid},</if>
            <if test="infotextcontentid != null ">infoTextContentId = #{infotextcontentid},</if>
            <if test="questionId != null ">question_id = #{questionId},</if>
            <if test="contentId != null ">content_id = #{contentId},</if>


            <if test="parentKonwledgeId != null ">parent_konwledge_id = #{parentKonwledgeId},</if>
            <if test="subjectId != null ">subject_id = #{subjectId},</if>
            <if test="tagInfo != null ">tag_info = #{tagInfo},</if>
            <if test="konwledgeType != null ">konwledge_type = #{konwledgeType},</if>

            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="shortText != null ">short_text = #{shortText},</if>
            <if test="isChecked != null ">is_checked = #{isChecked},</if>
            <if test="reviewScore != null ">review_score = #{reviewScore},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKonwledgeStoreById" parameterType="Long">
        delete from konwledge_store where id = #{id}
    </delete>

    <delete id="deleteKonwledgeStoreByIds" parameterType="String">
        delete from konwledge_store where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>